
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gaming warehouse</title>
    <style>
        /* global */
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            font-family: Helvetica, sans-serif;
        }

        /* header */

        .header {
            flex: initial;
            padding: 50px 0;
            color: #fff;
            text-align: center;
            background: #20232a;
        }

        .banner-logo {
            display: block;
            margin: auto;
        }

        .banner-title {
            margin-bottom: 0;
            margin-top: 20px;
            font-size: 55px;
        }

        /* content */

        main {
            flex: 1;
            max-width: 1000px;
            width: 100%;
            margin: auto;
            color: black;
        }

        /* footer */

        .footer {
            flex: initial;
            height: 50px;
            background: #20232a;
        }

        /* github link */

        .fork-me-on-github {
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>
</head>
<body>
    <header class="header">
        <a href="https://github.com/s3rius" class="fork-me-on-github">
            <img
                src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
                alt="Fork me on GitHub"
            >
        </a>
        <div class="banner">
            <h1 class="banner-title">Gaming warehouse</h1>
            <p>
                Check this out.
            </p>
        </div>
    </header>
    <main>
        <h2>Useful links</h2>
        <hr>
        <ul>
            <li>
                Account:
                <ul>
                    <li><a href="/api/v1/account/create">Create</a></li>
                    <li><a href="/api/v1/account/password/change">Change password</a></li>
                    <li><a href="/api/v1/account/password/recovery">Recovery password</a></li>
                    <li><a href="/api/v1/account/social">Get socials</a></li>
                </ul>
            </li>
            <li>
                Auth:
                <ul>
                    <li><a href="/api/v1/auth/url/fb">Login with facebook</a></li>
                    <li><a href="/api/v1/auth/url/google">Login with google</a></li>
                    <li><a href="/api/v1/auth/url/vk">Login with vk</a></li>
                    <li><a href="/api/v1/auth/url/twitter">Login with twitter</a></li>
                </ul>
            </li>
            <li>
                Session:
                <ul>
                    <li><a href="/api/v1/session/create">Create</a></li>
                    <li><a href="/api/v1/session/refresh">refresh</a></li>
                    <li><a href="/api/v1/session/logout">logout</a></li>
                </ul>
            </li>
        </ul>
        <p>{{ text|safe }}</p>
    </main>
    <footer class="footer"></footer>
</body>
</html>
